<!DOCTYPE HTML>
<html>
  <head>
    <title>Diagnosis Summary</title>
    <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
      function setAttributes(){
        element = document.getElementById('<%= params[:zone] %>');
        if (element){
          element.classList.add('active');
        }
      }

      function viewPatients(obj){
        diagnosis = obj.getAttribute("diagnosis");
        zone = '<%= params[:zone] %>';
        disease_category = '<%= params[:category] %>';
        date = '<%= params[:date] %>';
        jQuery.ajax({
          type: "POST",
          url: "/admin/observations_by_diagnosis",
          data: "diagnosis=" + diagnosis + '&zone=' + zone + '&category=' + disease_category + '&date=' + date,
          success: function(results){
            results = eval("(" + results  + ")");
            count = 1;
            html = "";
            patientCount = 0;
            for (var s in results){
              national_id = results[s]["national_id"];
              gender = results[s]["gender"];
              age = results[s]["age"];
              obs_date = results[s]["obs_date"];
              facility = results[s]["facility"];
              html += "<tr>";
              html += "<td>" + count + "</td>";
              html += "<td>" + national_id + "</td>";
              html += "<td>" + gender + "</td>";
              html += "<td>" + age + "</td>";
              html += "<td>" + obs_date + "</td>";
              html += "<td>" + facility + "</td>";
              html += "</tr>";
              count = count + 1;
              patientCount = patientCount + 1;
            }
            document.getElementById('tbody').innerHTML = html;
            document.getElementById('patient-count').innerHTML = "Total Patients (" + patientCount + ")";
            $('#myModal').modal('show');
            document.getElementsByClassName('modal-title')[0].innerHTML = diagnosis;
          }

        })
      }
    </script>
    <style>
      .modal {
        left: 47%;
        width: 675px;
      }
    </style>
  </head>
  <body onload="setAttributes();">
    <div class="row-fluid">
      <div class="span3" id="sidebar">
        <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
          <li id="zone_northern">
            <a href="/admin/diagnosis_summary?zone=zone_northern&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Northern Zone</a>
          </li>
          <li id="zone_c_east">
            <a href="/admin/diagnosis_summary?zone=zone_c_east&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Central East Zone</a>
          </li>
          <li id="zone_c_west">
            <a href="/admin/diagnosis_summary?zone=zone_c_west&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Central West Zone</a>
          </li>
          <li id="zone_s_east">
            <a href="/admin/diagnosis_summary?zone=zone_s_east&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> South East Zone</a>
          </li>
          <li id="zone_s_west">
            <a href="/admin/diagnosis_summary?zone=zone_s_west&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> South West Zone</a>
          </li>
          <li id="national">
            <a href="/admin/diagnosis_summary?zone=national&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> National</a>
          </li>
          <!--<li class="active">
            <a href="/admin/view_diagnoses"><i class="icon-chevron-right"></i> View Diagnoses</a>
          </li>-->
        </ul>
      </div>

      <div class="span9" id="content">
        <div class="row-fluid">
          <div class="block">
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left"><%= params[:category].humanize.upcase %>(<%= params[:date].to_date.strftime("%d-%B-%Y") %>)</div>
            </div>
            <div class="block-content collapse in">
              <div class="span12">
                <div style="width:100%; height: 70vh; overflow: auto;">
                  <table class="table table-bordered">
                    <tbody>
                      <% @data.each do |row| %>
                        <tr>
                          <% row.each do |values| %>
                            <%
                            diagnosis = values[0] rescue ''
                            count = values[1] rescue ''
                          %>
                            <td diagnosis="<%= diagnosis %>" onclick="viewPatients(this)"><a href="#"><span class="badge badge-info pull-right"><%= count %></span> <%= diagnosis %></a></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!--CONFIRMATION POPUP BEGIN -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <span id="my_modal_content">

              <div class="row-fluid">
                <div class="block">
                  <div class="navbar navbar-inner block-header">
                    <div class="pull-left" id="patient-count"></div>
                  </div>
                  <div class="block-content collapse in">
                    <div class="span12">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>National ID</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Visit Date</th>
                            <th>Facility</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </span>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CONFIRMATION POPUP END -->
  </body>
</html>