<!DOCTYPE HTML>
<html>
  <head>
    <title>Diagnosis Summary</title>
    <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
       function setAttributes(){
         element = document.getElementById('<%= params[:zone] %>');
         if (element){
           element.classList.add('active');
         }
       }
    </script>
  </head>
  <body onload="setAttributes();">
    <div class="row-fluid">
      <div class="span3" id="sidebar">
        <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
          <li id="zone_northern">
            <a href="/admin/diagnosis_summary?zone=zone_northern&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Northern Zone</a>
          </li>
          <li id="zone_c_east">
            <a href="/admin/diagnosis_summary?zone=zone_c_east&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Central East Zone</a>
          </li>
          <li id="zone_c_west">
            <a href="/admin/diagnosis_summary?zone=zone_c_west&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> Central West Zone</a>
          </li>
          <li id="zone_s_east">
            <a href="/admin/diagnosis_summary?zone=zone_s_east&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> South East Zone</a>
          </li>
          <li id="zone_s_west">
            <a href="/admin/diagnosis_summary?zone=zone_s_west&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> South West Zone</a>
          </li>
          <li id="national">
            <a href="/admin/diagnosis_summary?zone=national&category=<%=  params[:category] %>&date=<%= params[:date] %>"><i class="icon-chevron-right"></i> National</a>
          </li>
          <!--<li class="active">
            <a href="/admin/view_diagnoses"><i class="icon-chevron-right"></i> View Diagnoses</a>
          </li>-->
        </ul>
      </div>

      <div class="span9" id="content">
        <div class="row-fluid">
          <div class="block">
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left"><%= params[:category].humanize.upcase %>(<%= params[:date].to_date.strftime("%d-%B-%Y") %>)</div>
            </div>
            <div class="block-content collapse in">
              <div class="span12">
                <div style="width:100%; height: 70vh; overflow: auto;">
                  <table class="table table-bordered">
                    <tbody>
                      <% @data.each do |row| %>
                        <tr>
                          <% row.each do |values| %>
                            <% 
                            diagnosis = values[0] rescue ''
                            count = values[1] rescue ''
                          %>
                            <td diagnosis="<%= diagnosis %>" onclick="viewPatients(this)"><a href="#"><span class="badge badge-info pull-right"><%= count %></span> <%= diagnosis %></a></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>