<!DOCTYPE HTML>
<html>
  <head>
    <title>Map</title>
    <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/assets/highcharts.js"></script>
    <script type="text/javascript" src="/assets/data/coords.js"></script>
    <script type="text/javascript" src="/assets/data/districts.js"></script>
    <script type="text/javascript" src="/assets/data/sites_by_zones.js"></script>
    <script type="text/javascript" src="/assets/data/zones.js"></script>
    <script type="text/javascript" src="/assets/data/district_offsets.js"></script>   

    <script type="text/javascript">
      latest_obs = eval('<%= @latest_obs_dates.to_json.html_safe %>')
      function diagnosisOneChart() {
        $('#diagnosis_one').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_FEVER&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,  
              name: 'SG FEVER',
              data: eval('<%= @sg_fever.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisOneChart();", 250);

      function diagnosisTwoChart() {
        $('#diagnosis_two').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_URI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG URI',
              data: eval('<%= @sg_uri.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisTwoChart();", 250);

      function diagnosisThreeChart() {
        $('#diagnosis_three').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_LRI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG LRI',
              data: eval('<%= @sg_lri.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisThreeChart();", 250);
      
      function diagnosisFourChart() {
        $('#diagnosis_four').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_RI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG RI',
              data: eval('<%= @sg_ri.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisFourChart();", 250);

      function diagnosisFiveChart() {
        $('#diagnosis_five').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_UGI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG UGI',
              data: eval('<%= @sg_ugi.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisFiveChart();", 250);

      function diagnosisSixChart() {
        $('#diagnosis_six').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_LGI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG LGI',
              data: eval('<%= @sg_lgi.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisSixChart();", 250);

      function diagnosisSevenChart() {
        $('#diagnosis_seven').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=SG_GI&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'SG GI',
              data: eval('<%= @sg_gi.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisSevenChart();", 250);

      function diagnosisEightChart() {
        $('#diagnosis_eight').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=NCD&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'NCD',
              data: eval('<%= @ncd.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisEightChart();", 250);

      function diagnosisNineChart() {
        $('#diagnosis_nine').highcharts({
          chart: {
            type: 'line',
            marginRight: 130,
            marginBottom: 25,
            marginLeft: 32
          },
          title: {
            text: '',
            x: -20 //center
          },
          subtitle: {
            text: '',
            x: -20
          },
          xAxis: {
            categories: eval('<%= @latest_obs_dates.to_json.html_safe %>')
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
          },
          tooltip: {
            formatter: function() {
              return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
            }
          },
          credits: {
            enabled: false
          },
          legend: {
            layout: 'vertical',
            align: 'bottom',
            verticalAlign: 'top',
            x: -10,
            y: 100,
            borderWidth: 0
          },
          plotOptions:{
            series:{
              allowPointSelect: true,
              cursor: 'pointer',
              point: {
                events:{
                  select: function(e) {
                    var date = e.currentTarget.category
                    window.location = '/admin/diagnosis_summary?zone=zone_s_west&category=IDSR_DZ&date=' + date;
                  }
                }
              }
            }
          },
          series: [
            {
              showInLegend: false,
              name: 'IDSR DZ',
              data: eval('<%= @idsr_dz.to_json.html_safe %>')
            }
          ]
        });
      };
      window.setTimeout("diagnosisNineChart();", 250);

      function resizeIframe(obj){
        obj.height = obj.scrollHeight  + "px";
        obj.width = obj.scrollWidth + "px";
      }

      function viewPatients(obj){
        diagnosis = obj.getAttribute("diagnosis");

        jQuery.ajax({
          type: "POST",
          url: "/admin/observations_by_diagnosis",
          data: "diagnosis=" + diagnosis,
          success: function(results){
            results = eval("(" + results  + ")");
            count = 1;
            html = "";
            patientCount = 0
            for (var s in results){
              national_id = results[s]["national_id"];
              gender = results[s]["gender"];
              age = results[s]["age"];
              obs_date = results[s]["obs_date"];
              html += "<tr>";
              html += "<td>" + count + "</td>";
              html += "<td>" + national_id + "</td>";
              html += "<td>" + gender + "</td>";
              html += "<td>" + age + "</td>";
              html += "<td>" + obs_date + "</td>";
              html += "</tr>";
              count = count + 1;
              patientCount = patientCount + 1;
            }
            document.getElementById('tbody').innerHTML = html;
            document.getElementById('patient-count').innerHTML = "Total Patients (" + patientCount + ")";
            $('#myModal').modal('show');
            document.getElementsByClassName('modal-title')[0].innerHTML = diagnosis;
          }
          
        })
      }

      function setOnclickEvents() {
        // Side Bar Toggle
        $('.hide-sidebar').click(function() {
          $('#sidemap').hide('fast', function() {
            //$('#content').removeClass('span9');
            //$('#content').addClass('span12');
            $('.small_graph').removeClass('small_graph').addClass('big_graph');
            $('.span3').removeClass('span3').addClass('span4');
            $('.small').removeClass('small').addClass('big');
            diagnosisOneChart();diagnosisTwoChart();diagnosisThreeChart();
            diagnosisFourChart();diagnosisFiveChart();diagnosisSixChart();
            diagnosisSevenChart();diagnosisEightChart();diagnosisNineChart();
            $('.hide-sidebar').hide();
            $('.show-sidebar').show();
          });
        });

        $('.show-sidebar').click(function() {
          //$('#content').removeClass('span12');
          //$('#content').addClass('span9');
          $('.show-sidebar').hide();
          $('.hide-sidebar').show();
          $('.big_graph').removeClass('big_graph').addClass('small_graph');
          $('.span4').removeClass('span4').addClass('span3');
          $('.big').removeClass('big').addClass('small');
          diagnosisOneChart();diagnosisTwoChart();diagnosisThreeChart();
          diagnosisFourChart();diagnosisFiveChart();diagnosisSixChart();
          diagnosisSevenChart();diagnosisEightChart();diagnosisNineChart();
          $('#sidemap').show('slow');
        });
      };
      window.setTimeout("setOnclickEvents();", 200);
    </script>
    <style>
      body{
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .diagnosis_one{

      }
      .diagnosis_two{
        width: 200px;
      }
      .diagnosis_three{
        width: 200px;
      }

      .small{
        left:25%;
      }

      .big{
        left:1%;
      }

      .small_graph{
        width:450px;
      }

      .big_graph{
        width:590px;
      }
    </style>
  </head>
  <body onresize="resize()" onload="resize()">
    <div class="row-fluid" style="width: 40vh;" id="sidemap">
      <div class="block" style="height: 78vh;">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left" id="national_label">
            SOUTH WEST ZONE
          </div>
        </div>
        <div class="block-content collapse in" style="height:100%;">
          <div id="c_map">
            <object onload="resizeIframe(this)" id="map" type="image/svg+xml" data="/assets/mw/zone_s_west.svg" style="height:70vh; width: 100%;"></object>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid" style="position: absolute; top:47px; right: 0.68%; width: 74.3%;">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="breadcrumb">
            <i title="Hide Map" class="icon-chevron-left hide-sidebar"><a rel="tooltip" title="Hide Sidebar" href="#">&nbsp;</a></i>
            <i title="Show Map" style="display:none;" class="icon-chevron-right show-sidebar"><a rel="tooltip" title="Show Sidebar" href="#">&nbsp;</a></i>
            <li class="active">SOUTH WEST ZONE</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row-fluid small" style="position: absolute; top:10%; top:80px;">
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG FEVER
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_one" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG URI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_two" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG LRI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_three" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid small" style="position: absolute; top:284px;">
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG RI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_four" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG_UGI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_five" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG_LGI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_six" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid small" style="position: absolute; bottom:11%;">
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              SG GI
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_seven" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              NCD
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_eight" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-right" id="district_label">
              IDSR DZ
            </div>
          </div>
          <div class="block-content collapse in">
            <div id="diagnosis_nine" class="small_graph" style="height:130px !important;">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<div class="row-fluid" style="position: absolute; left:25%; bottom: 70px; width:74.3%;">
      <div class="block">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">Cases</div>
        </div>
        <div class="block-content collapse in">
          <div style="width:100%; height: 160px; overflow: auto;">
            <table class="table table-bordered">
              <tbody>
                <% @data.each do |row| %>
                  <tr>
                    <% row.each do |values| %>
                      <%
                      diagnosis = values[0]
                      count = values[1]
                    %>
                      <td diagnosis="<%= diagnosis %>" onclick="viewPatients(this)"><a href="#"><span class="badge badge-info pull-right"><%= count %></span> <%= diagnosis %></a></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>-->
    <!--<div class="row-fluid" style="width: 100%; position: relative;"><%=("<br />" * 5).html_safe %>
    </div>-->



    <!--CONFIRMATION POPUP BEGIN -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <span id="my_modal_content">

              <div class="row-fluid">
                <!-- block -->
                <div class="block">
                  <div class="navbar navbar-inner block-header">
                    <div class="pull-left" id="patient-count"></div>
                  </div>
                  <div class="block-content collapse in">
                    <div class="span12">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>National ID</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Visit Date</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /block -->
              </div>

            </span>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CONFIRMATION POPUP END -->

    <script>

      var refPoints = [-9.331537, -17.158189, 32.674051, 35.969950];
      var offsets = [10, 295, 10, 710];
      var limits = [305, 720];
      var previous;

      function __$(id) {
        return document.getElementById(id);
      }

      function latLon2Coord(lat, lon) {

        var x, y;

        x = ((offsets[1] - offsets[0]) * ((Math.abs(lon) - Math.abs(refPoints[2])) / (Math.abs(refPoints[3]) - Math.abs(refPoints[2])))) // + offsets[0];

        y = ((offsets[3] - offsets[2]) * ((Math.abs(lat) - Math.abs(refPoints[0])) / (Math.abs(refPoints[1]) - Math.abs(refPoints[0])))) // + offsets[2];

        return [x, y]

      }

      function resize() {
        if (__$("main")) {
          __$("main").style.height = (window.innerHeight - 20) + "px";
        }

        if (__$("c_map")) {
          __$("c_map").style.height = (window.innerHeight - 20) + "px";
        }

        if (__$("c_district")) {
          __$("c_district").style.height = ((window.innerHeight / 2) - 20) + "px";
        }

        if (__$("c_district")) {
          __$("c_district").style.width = ((window.innerWidth / 2) - 20) + "px";
        }

        if (__$("c_zone")) {
          __$("c_zone").style.height = ((window.innerHeight / 2) - 12) + "px";
        }

        if (__$("c_zone")) {
          __$("c_zone").style.width = ((window.innerWidth / 2) - 20) + "px";
        }

        if (__$("container")) {
          __$("container").style.height = (window.innerHeight - 320) + "px";
        }
      }

      function setDefaults() {

        var svg = __$("map").contentDocument;

        if (svg == null) {

          setTimeout("setDefaults()", 200);

          return;

        }

        /*var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhatabay", "nkhotakota", "salima", "kasungu", "dedza",
          "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
          "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"]
         */
        var elements = {"MW.CK":"Chikwawa", "MW.TH":"Thyolo", "MW.CR":"Chiradzulu", "MW.NS":"Nsanje", "MW.BL":"Blantyre", "MW.1649":"Mwanza", "MW.MW":"Neno"}
        for (var districtID in elements) {
          if (svg.getElementById(districtID)) {
            svg.getElementById(districtID).onmouseover = function () {
              currentDistrict = elements[this.id];
              this.setAttribute("title", currentDistrict.capitalize())
              this.setAttribute("style", "fill:#ffcccc;stroke:#6e6e6e;stroke-width:0.40000001000000002;fill-opacity:1");

            }

            svg.getElementById(districtID).onmouseout = function () {

              this.setAttribute("style", "fill:#ffffff;stroke:#6e6e6e;stroke-width:0.40000001000000002;fill-opacity:1");

            }

            svg.getElementById(districtID).onclick = function () {

            }

          }
        }
        loadZoneSitesByOffsets('zone_s_west');
      }

      function insertSite(x, y, color, id) {
        var doc = __$("map").contentDocument;

        var mw = doc.getElementById("malawi");

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", x);

        circle.setAttribute("cy", y);

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "black");

        mw.appendChild(circle);
      }

      function insertSiteByOffset(x, y, color, id, district) {

        var doc = __$("district").contentDocument;

        var mw = doc.getElementById(district);

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));

        circle.setAttribute("cy", (y - target.y));

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "black");

        mw.appendChild(circle);
      }

      function insertZoneSiteByOffset(x, y, color, id, district) {

        var doc = __$("map").contentDocument;

        var mw = doc.getElementById(district);

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));

        circle.setAttribute("cy", (y - target.y));

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "black");

        mw.appendChild(circle);
      }

      function loadSites() {

        for (var i = 0; i < sites.length; i++) {

          var result = latLon2Coord(sites[i][0], sites[i][1])

          var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

          var pos = Math.round((Math.random() * 10)) % 3;

          insertSite(result[0], result[1], colors[pos], 'site' + i);

        }

      }

      var uCoords = {};

      function getCoords() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhatabay", "nkhotakota", "salima", "kasungu", "dedza",
          "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
          "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

          if (svg.getElementById(elements[i])) {

            var element = svg.getElementById(elements[i]);

            var district = {};

            for (var j = 0; j < element.children.length; j++) {

              if (element.children[j].tagName.match(/desc/i)) {

                for (var k = 0; k < element.children[j].children.length; k++) {

                  district[element.children[j].children[k].tagName.replace(/namespace\:/i, "")] = element.children[j].children[k].innerHTML;

                }

              }

            }

            uCoords[elements[i]] = district;

          }
        }

      }

      function loadDistricts() {

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhatabay", "nkhotakota", "salima", "kasungu", "dedza",
          "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
          "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

          var district = districts[elements[i]];

          if (!district)
            continue;

          var result = latLon2Coord(district["lat"], district["lon"])

          var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

          var pos = Math.round((Math.random() * 10)) % 3;

          insertSite(result[0], result[1], colors[0], 0);

        }

      }

      function drawBorders() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhatabay", "nkhotakota", "salima", "kasungu", "dedza",
          "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
          "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

          var element = svg.getElementById(elements[i]).getBBox();

          var rect = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
          rect.setAttributeNS(null, 'x', element.x);
          rect.setAttributeNS(null, 'y', element.y);
          rect.setAttributeNS(null, 'height', element.height);
          rect.setAttributeNS(null, 'width', element.width);
          rect.setAttributeNS(null, 'stroke', 'red');
          rect.setAttributeNS(null, 'fill', 'none');
          rect.setAttributeNS(null, 'id', 'rect' + elements[i]);
          svg.getElementById("malawi").appendChild(rect);

        }
      }

      function drawBorder(district) {

        var names = {
          "chitipa": "Chitipa",
          "karonga": 'Karonga',
          "rumphi": 'Rumphi',
          "mzimba": "Mzimba",
          "nkhatabay": "Nkhata Bay",
          "nkhotakota": "Nkhotakota",
          "salima": "Salima",
          "kasungu": "Kasungu",
          "dedza": "Dedza",
          "lilongwe": "Lilongwe",
          "ntchisi": "Ntchisi",
          "ntcheu": "Ntcheu",
          "mchinji": "Mchinji",
          "dowa": "Dowa",
          "balaka": "Balaka",
          "zomba": "Zomba",
          "machinga": "Machinga",
          "blantyre": "Blantyre",
          "machinga": "Machinga",
          "chiradzulu": "Chiradzulu",
          "chikwawa": "Chikwawa",
          "nsanje": "Nsanje",
          "neno": "Neno",
          "mwanza": "Mwanza",
          "phalombe": "Phalombe",
          "mulanje": "Mulanje",
          "likoma": "Likoma",
          "thyolo": "Thyolo",
          "mangochi": "Mangochi"
        };

        var svg = __$("map").contentDocument;

        if (svg.getElementById('rect' + district)) {

          unloadDistrictSites(district);

          svg.getElementById("malawi").removeChild(svg.getElementById('rect' + district));

        } else {

          var element = svg.getElementById(district).getBBox();

          var rect = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
          rect.setAttributeNS(null, 'x', element.x);
          rect.setAttributeNS(null, 'y', element.y);
          rect.setAttributeNS(null, 'height', element.height);
          rect.setAttributeNS(null, 'width', element.width);
          rect.setAttribute('stroke', 'none');     //'rgba(128,128,128,0.5)');
          rect.setAttribute('fill', 'none');
          rect.setAttribute('id', 'rect' + district);
          svg.getElementById("malawi").appendChild(rect);

          if (svg.getElementById('cursor')) {

            var cursor = svg.getElementById('cursor');

            cursor.setAttributeNS(null, 'x', element.x);
            cursor.setAttributeNS(null, 'y', element.y);
            cursor.setAttributeNS(null, 'height', element.height);
            cursor.setAttributeNS(null, 'width', element.width);

          } else {

            var cursor = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
            cursor.setAttributeNS(null, 'x', element.x);
            cursor.setAttributeNS(null, 'y', element.y);
            cursor.setAttributeNS(null, 'height', element.height);
            cursor.setAttributeNS(null, 'width', element.width);
            cursor.setAttribute('stroke', 'rgba(255,0,0,0.8)');
            cursor.setAttribute('fill', 'none');
            cursor.setAttribute('id', 'cursor');
            svg.getElementById("malawi").appendChild(cursor);

          }

          __$("district").outerHTML = __$("district").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/' + district + '.svg"')

          var target = sites_by_zones[district];

          switch (target[0]["region"]) {
            case "North":
              __$("zone").outerHTML = __$("zone").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/zone_northern.svg"');

              setTimeout("loadZoneSitesByOffsets('zone_northern')", 500);

              break;
            case "Central":
              if (target[0]["zone"] == "Central East") {

                __$("zone").outerHTML = __$("zone").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/zone_c_east.svg"')

                setTimeout("loadZoneSitesByOffsets('zone_c_east')", 500);

              } else if (target[0]["zone"] == "Central West") {

                __$("zone").outerHTML = __$("zone").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/zone_c_west.svg"')

                setTimeout("loadZoneSitesByOffsets('zone_c_west')", 500);

              }
              break;
            case "South":
              if (target[0]["zone"] == "South East") {

                __$("zone").outerHTML = __$("zone").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/zone_s_east.svg"')

                setTimeout("loadZoneSitesByOffsets('zone_s_east')", 500);

              } else if (target[0]["zone"] == "South West") {

                __$("zone").outerHTML = __$("zone").outerHTML.replace(/data="(.+?)"/, 'data="/assets/mw/zone_s_west.svg"')

                setTimeout("loadZoneSitesByOffsets('zone_s_west')", 500);

              }
              break;
          }

          if (previous != undefined) {
            unloadDistrictSites(previous);
          }

          previous = district;

          loadDistrictSites(district);

          setTimeout("loadDistrictSitesByOffsets('" + district + "')", 500);

          if(__$("national_label")){

            __$("national_label").innerHTML = names[district];

          }

          if(__$("district_label")){

            __$("district_label").innerHTML = names[district];

          }

        }

      }

      function loadDistrictSitesByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

          var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

          var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

          var pos = 0;    // Math.round((Math.random() * 10)) % 3;

          insertSiteByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district);

        }

      }

      function loadZoneSitesByOffsets(district) {
        var zone, region;

        switch (district) {
          case "zone_northern":
            zone = "Northern";
            region = "North";
            break;
          case "zone_c_east":
            region = "Central";
            zone = "Central East";
            break;
          case "zone_c_west":
            region = "Central";
            zone = "Central West";
            break;
          case "zone_s_east":
            region = "South";
            zone = "South East";
            break;
          case "zone_s_west":
            region = "South";
            zone = "South West";
            break;
        }

        if (zone == undefined || region == undefined) return;

        var zone_districts = Object.keys(zones[region][zone]);

        for (var s = 0; s < zone_districts.length; s++) {

          var target = sites_by_zones[zone_districts[s]];

          for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var pos = 0;    // Math.round((Math.random() * 10)) % 3;

            insertZoneSiteByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district);

          }

        }

        if(__$("zone_label")){

          __$("zone_label").innerHTML = zone + " Zone";

        }

      }

      function loadDistrictSites(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

          var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

          var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

          var pos = 0;    // Math.round((Math.random() * 10)) % 3;

          insertSite(result[0], result[1], colors[pos], target[i]["facility_id"]);

        }

      }

      function unloadDistrictSites(district) {

        var target = sites_by_zones[district];

        var doc = __$("map").contentDocument;

        var mw = doc.getElementById("malawi");

        for (var i = 0; i < target.length; i++) {

          if (doc.getElementById(target[i]["facility_id"])) {

            mw.removeChild(doc.getElementById(target[i]["facility_id"]));

          }

        }

      }

      function getDistrictOffsets() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhatabay", "nkhotakota", "salima", "kasungu", "dedza",
          "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
          "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

          var element = svg.getElementById(elements[i]).getBBox();

          districtOffsets[elements[i]] = {
            'x': element.x,
            'y': element.y,
            'height': element.height,
            'width': element.width
          }
        }

      }

      setDefaults();
      
    </script>

  </body>
</html>