<!DOCTYPE html>
<html class="no-js">

  <head>
    <title>Disease Surveillance</title>
    <!-- Bootstrap -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/assets/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link href="/assets/styles.css" rel="stylesheet" media="screen"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/assets/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var currentZone = '';
      pathName = location.pathname;
      if (pathName.length == 1){
        currentZone = 'national';
      }
      else{
        splitted_paths = pathName.split('/');
        currentZone = splitted_paths[splitted_paths.length - 1];
      }

      function diagnosisChartGranular(zone, period_type){
        jQuery.ajax({
          type: "POST",
          url: "/admin/chart_by_zone_and_period_type_and_syndrome",
          data: 'zone=' + zone + '&period_type=' + period_type,
          success: function(results){
            results = eval("(" + results  + ")");
            xaxis = results["xaxis"];



            /*******************************************************************/


            $('#diagnosis_one').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_FEVER&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG FEVER',
                  data: results["sg_fever_data"]
                }
              ]
            });


            $('#diagnosis_two').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_URI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG URI',
                  data: results["sg_uri_data"]
                }
              ]
            });

            $('#diagnosis_three').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_LRI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG LRI',
                  data: results["sg_lri_data"]
                }
              ]
            });

            $('#diagnosis_four').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_RI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG RI',
                  data: results["sg_ri_data"]
                }
              ]
            });


            $('#diagnosis_five').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_UGI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG UGI',
                  data: results["sg_ugi_data"]
                }
              ]
            });

            $('#diagnosis_six').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_LGI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG LGI',
                  data: results["sg_lgi_data"]
                }
              ]
            });

            $('#diagnosis_seven').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=SG_GI&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'SG GI',
                  data: results["sg_gi_data"]
                }
              ]
            });

            $('#diagnosis_eight').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=NCD&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'NCD',
                  data: results["ncd_data"]
                }
              ]
            });

            $('#diagnosis_nine').highcharts({
              chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                marginLeft: 32
              },
              title: {
                text: '',
                x: -20 //center
              },
              subtitle: {
                text: '',
                x: -20
              },
              xAxis: {
                categories: xaxis
              },
              yAxis: {
                min: 0,
                title: {
                  text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                  }]
              },
              tooltip: {
                formatter: function() {
                  return '' + this.x + ' <br /> <b>' + this.y + '</b> cases';
                }
              },
              credits: {
                enabled: false
              },
              legend: {
                layout: 'vertical',
                align: 'bottom',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
              },
              plotOptions:{
                series:{
                  allowPointSelect: true,
                  cursor: 'pointer',
                  point: {
                    events:{
                      select: function(e) {
                        var date = e.currentTarget.category;
                        window.location = '/admin/diagnosis_summary?zone=national&category=IDSR_DZ&date=' + date;
                      }
                    }
                  }
                }
              },
              series: [
                {
                  showInLegend: false,
                  name: 'IDSR DZ',
                  data: results["idsr_data"]
                }
              ]
            });
            /******************************************************************/
          }

        })
      }

      function dailyData(){
        var zone = currentZone;
        var period_type = 'daily';
        diagnosisChartGranular(zone, period_type);
      }
      
      function weeklyData(){
        var zone = currentZone;
        var period_type = 'weekly';
        diagnosisChartGranular(zone, period_type);
      }

      function monthlyData(){
        var zone = currentZone;
        var period_type = 'monthly';
        diagnosisChartGranular(zone, period_type);

      }

    </script>
    <style>
      .separator{
        font-weight: bold;
        font-size: 40pt;
        padding-left:1em;
        padding-right: 1em;
        color: red;
      }

      .feeds{
        color:white;
      }

      .feeds:hover{
        color:white;
        text-decoration: line-through;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Disease Surveillance <span style="font-size:0.8em;"><%= `git describe`.gsub(/\n/, '') %></span></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <%= User.find(session[:current_user_id]).id %> <i class="caret"></i>

                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a tabindex="-1" href="/users/my_profile">Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="/users/logout/">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Switch Zone <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/admin/northern_zone">Northern Zone</a></li>
                  <li><a tabindex="-1" href="/admin/zone_central_east">Cental East Zone</a></li>
                  <li><a tabindex="-1" href="/admin/zone_central_west">Cental West Zone</a></li>
                  <li><a tabindex="-1" href="/admin/zone_south_east">South East Zone</a></li>
                  <li><a tabindex="-1" href="/admin/zone_south_west">South West Zone</a></li>
                  <!--<li><a tabindex="-1" href="/admin/central_zone">Central Region</a></li>
                  <li><a tabindex="-1" href="/admin/southern_zone">Southern Region</a></li>-->
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="/admin/national_dashboard">National</a></li>
                </ul>
              </li>
              <!--<li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Diagnosis Settings <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/admin/add_diagnosis">Add Diagnosis</a></li>
                  <li><a tabindex="-1" href="/admin/remove_diagnosis">Remove Diagnosis</a></li>
                  <li><a tabindex="-1" href="/admin/view_diagnoses">View Diagnoses</a></li>
                </ul>
              </li>-->
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Change Granularity <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li onclick="monthlyData();"><a tabindex="-1" href="#">Monthly</a></li>
                  <li onclick="weeklyData();"><a tabindex="-1" href="#">Weekly</a></li>
                  <li onclick="dailyData();"><a tabindex="-1" href="#">Daily</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/users/new_user">New User</a></li>
                  <li><a tabindex="-1" href="/users/edit_user">Edit User</a></li>
                  <li><a tabindex="-1" href="/users/delete_user">Delete User</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
      <hr></hr>


    </div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div style="border: 1px solid #999; margin: 10px; border-radius: 10px;vertical-align: middle; overflow: hidden;">
          <table width="100%" style="margin: 0px; height: 20px;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="color: red; font-size: 28px; padding-left: 10px; padding-right: 10px; padding-top: 7px;
                  font-style: italic; font-weight: bold; text-align: center; background-color: #fff;">
                NEWS<br />
                <span style="color: blue; font-size: 0.4em;">Live Updates</span>
              </td>
              <td style="background-color: blue; color: white; line-height: 2em;">
            <marquee id="news" direction="left" style="float: left; font-size: 32px;">
              <%= feeds.to_s.html_safe -%>
            </marquee>
            </td>
            <td style="min-width: 200px; background-color: #000; color: #cfe7f5; font-size: 24px; padding: 5px; text-align:center">
              Kamuzu Central Hospital
            </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/scripts.js"></script>
    <script type="text/javascript">
      String.prototype.capitalize = function(){
        return this.charAt(0).toUpperCase() + this.slice(1)
      }
    </script>
  </body>

</html>