<!DOCTYPE html>
<html class="no-js">

  <head>
    <title>Disease Surveillance</title>
    <!-- Bootstrap -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/assetsbootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link href="/assets/styles.css" rel="stylesheet" media="screen"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/assets/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <%= csrf_meta_tags %>
    <style>
      .separator{
        font-weight: bold;
        font-size: 40pt;
        padding-left:1em;
        padding-right: 1em;
        color: red;
}
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Disease Surveillance <span style="font-size:0.8em;"><%= `git describe`.gsub(/\n/, '') %></span></a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> <%= User.find(session[:current_user_id]).id %> <i class="caret"></i>

                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a tabindex="-1" href="/users/my_profile">Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a tabindex="-1" href="/users/logout/">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Switch Zone <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/admin/northern_zone">Northern Region</a></li>
                  <li><a tabindex="-1" href="/admin/central_zone">Central Region</a></li>
                  <li><a tabindex="-1" href="/admin/southern_zone">Southern Region</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="/admin/national_dashboard">National</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Diagnosis Settings <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/admin/add_diagnosis">Add Diagnosis</a></li>
                  <li><a tabindex="-1" href="/admin/remove_diagnosis">Remove Diagnosis</a></li>
                  <li><a tabindex="-1" href="/admin/view_diagnoses">View Diagnoses</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="/users/new_user">New User</a></li>
                  <li><a tabindex="-1" href="/users/edit_user">Edit User</a></li>
                  <li><a tabindex="-1" href="/users/delete_user">Delete User</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
      <hr></hr>


    </div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
      <div style="border: 1px solid #999; margin: 10px; border-radius: 10px;vertical-align: middle; overflow: hidden;">
        <table width="100%" style="margin: 0px; height: 20px;" cellpadding="0" cellspacing="0">
          <tr>
            <td style="color: red; font-size: 28px; padding-left: 10px; padding-right: 10px; padding-top: 7px;
                font-style: italic; font-weight: bold; text-align: center; background-color: #fff;">
              NEWS<br />
              <span style="color: blue; font-size: 0.4em;">Live Updates</span>
            </td>
            <td style="background-color: blue; color: white; line-height: 2em;">
              <marquee id="news" direction="left" style="float: left; font-size: 32px;">
                <%= feeds.to_s.html_safe -%>
              </marquee>
            </td>
            <td style="min-width: 200px; background-color: #000; color: #cfe7f5; font-size: 24px; padding: 5px; text-align:center">
              Kamuzu Central Hospital
            </td>
          </tr>
        </table>
      </div>
      </div>
    </div>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/scripts.js"></script>
    <script type="text/javascript">
      String.prototype.capitalize = function(){
        return this.charAt(0).toUpperCase() + this.slice(1)
      }
    </script>
  </body>

</html>